.wrapper {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    position: relative;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
}

.wrapper > div:nth-child(2) {
    min-width: 80%;
    position: relative;
    margin-left: 2rem;
}
