.wrapper {
    border-right: 1px rgb(212, 212, 212) solid;
    width: 20%;
    padding: 0.2rem 1rem 0 0;
    min-height: 50vh;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.iconFilter {
    background-color: #ececec;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 2rem;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.category > h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.checkBox,
.radioBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.checkBox > span,
.radioBox > span {
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    width: max-content;
}

.radioBox > span {
    text-transform: none;
}

.lengthValue {
    color: #575757;
}
