.wrapper {
    border-right: 1px rgb(212, 212, 212) solid;
    width: 20%;
    padding: 0.2rem 1rem 0 0;
    min-height: 50vh;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.iconFilter {
    background-color: #ececec;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 2rem;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.category > h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.checkBox,
.radioBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.checkBox > span,
.radioBox > span {
    margin-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    width: max-content;
}

.radioBox > span {
    text-transform: none;
}

.lengthValue {
    color: #575757;
}

.priceRange > div:nth-child(1) {
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
}

.close {
    display: none;
}

/* @media (min-width: 1920px) {
    .wrapper {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1920px) {
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1366px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1440px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1280px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media (max-width: 750px) {
    .wrapper {
        border: 1px rgb(212, 212, 212) solid;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: #ffff;
        width: 95%;
        padding: 1rem 1rem 1rem 1rem;
        min-height: 50vh;
        position: fixed;
        z-index: 100;
        bottom: 0;
        animation: move 0.3s ease;
    }

    @keyframes move {
        from {
            bottom: -100rem;
        }
        to {
            bottom: 0rem;
        }
    }

    .wrapperClose {
        border: 1px rgb(212, 212, 212) solid;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: #ffff;
        width: 95%;
        padding: 1rem 1rem 1rem 1rem;
        min-height: 50vh;
        position: fixed;
        z-index: 100;
        bottom: -100rem;
        display: none;
        animation: moveDown 0.9s ease;
    }

    @keyframes moveDown {
        from {
            bottom: 0;
            display: block;
        }
        to {
            bottom: -100rem;
            display: none;
        }
    }

    .filter {
        font-size: 1.6rem;
    }

    .category {
        margin-bottom: 2rem;
    }

    .category > h3 {
        font-size: 1.3rem;
    }

    .box {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .checkBox,
    .radioBox {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        margin-right: 1rem;
    }

    .checkBox > span,
    .radioBox > span {
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: capitalize;
        width: max-content;
    }

    .priceRange {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: -1.2rem;
    }

    .priceRange > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        min-width: max-content;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .priceRange > div:nth-child(2) {
        width: fit-content;
    }

    .close {
        background-color: #ececec;
        padding: 0.3rem 0.8rem;
        border-radius: 1rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
    }
}

@media (max-width: 400px) {
    .checkBox > span,
    .radioBox > span {
        font-size: 1.15rem;
    }
}
