.wrapper {
    /* border: 1px red solid; */
    padding: 0 0 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: #ffff;
}

.wrapper > h1 {
    font-size: 1.3rem;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.searchBar {
    border: 1px rgb(230, 230, 230) solid;
    background-color: #f1f1f1;
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.iconSearch {
    font-size: 1.2rem;
    color: #616161;
}

.searchBar > input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.6rem 0.3rem;
    color: #212121;
    font-weight: 500;
    width: 15rem;
}

.options > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sort {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* width: 10rem; */
}

.sort > div:nth-child(1) {
    color: #767676;
    font-size: 0.9rem;
}

.sort > .sortSelect {
    /* border: 1px #949494 solid; */
    border-radius: 0.2rem;
    /* padding: 0.1rem 0.5rem 0.3rem 0.6rem; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.sort > .sortSelect > span {
    margin-left: 0.3rem;
}

.icon {
    margin-bottom: -0.2rem;
    font-size: 1.1rem;
}

.sort:hover .sortOption {
    display: flex;
}

.sortOption {
    border: 1px #949494 solid;
    background-color: #ffffffcb;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0.2rem;
    position: absolute;
    top: 1.5rem;
    right: 0;
    min-width: max-content;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: hidden; */
    z-index: 100;
}

.sortOption::before {
    content: '';
    border-top: 0.8rem transparent solid;
    position: absolute;
    top: -0.8rem;
    margin-left: 0rem;
    width: 100%;
    z-index: 102;
}

.sortOption > span {
    border-bottom: 1px lightgrey solid;
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    width: 10rem;
    font-size: 0.9rem;
    text-align: left;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sortOption > span:hover {
    /* border: 1px grey solid; */
    padding: 0.3rem 0.3rem 0.5rem 0.7rem;
    background-color: #edededb9;
    cursor: pointer;
}

.view {
    display: flex;
    flex-direction: row;
}

.view > div {
    border: 1px lightgrey solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.view > div:nth-child(1) {
    border-radius: 0.2rem 0 0 0.2rem;
    padding: 0.4rem 0.5rem 0.4rem 0.7rem;
}

.view > div:hover,
.view > div:hover * {
    background-color: #e8e8e8b9;
    cursor: pointer;
}

.view > div:nth-child(2) {
    border-radius: 0 0.2rem 0.2rem 0;
    padding: 0.4rem 0.7rem 0.4rem 0.5rem;
}

@media (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .options {
        justify-content: space-between;
        width: 100%;
    }
}
